.responsive img {
    margin-right: 2rem; /* Ganti 1rem dengan nilai yang Anda inginkan */
}

.responsive img:last-child {
    margin-right: 0; /* Menghapus margin pada gambar terakhir */
}

<<<<<<< HEAD

/* style untuk menu hotel */
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.hotel-list h2 {
    text-align: center;
    margin-bottom: 50px;
}
.villa-list h2 {
    text-align: center;
    margin-bottom: 50px;
}

.apartemen-list h2 {
    text-align: center;
    margin-bottom: 50px;
}
=======
.subjudul-villa span {
    color: #007CC2;
}
>>>>>>> 762cea9d22cccb284a874c196899c1b59a0f1a3a
