/* Styling tambahan jika diperlukan */
.list-group-item.active {
  background-color: #007bff; /* Warna biru untuk item aktif */
  border-color: #007bff;
}

.list-group-item:not(.active) {
  background-color: #f8f9fa; /* Warna latar belakang untuk item tidak aktif */
}

.list-group-item:nth-child(2) {
  /* Targetkan item kedua (Terakhir Dilihat) */
  background-color: #007bff;
  border-color: #007bff;
  color: white; /* Optional: Ubah warna teks menjadi putih agar kontras */
}

.card {
  border: none;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
